/* Іконки переваги */
 .benefits-icons-list {
  @extend %flex-setting;
  margin-bottom: 30px;
 }

 .benefits-icons-items {
  @extend %flex-setting;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  &:not(last-child){
  margin-right: 30px;
}
 }

.benefits-logo {
  display: block;
}
/* Кінець іконки переваги */

/* Переваги */
.section-benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits {
  display: flex;
  justify-content: center;  
  align-items: flex-start;
  & .item {
  width: 270px;
 }
  & .item:not(last-child){
  margin-right: 30px;
 }
}
.benefits .title {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits .list {
  /* border: box; */
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.71;
}
