/* Іконки переваги */
.benefits-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-icons {
  @extend %flex-setting;
  
 }
.benefits-distance{
  margin-bottom: 30px;
 }
.benefits-icons__items {
  @extend %flex-setting;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  &:not(last-child){
  margin-right: 30px;
}
 }

.benefits-icons__logo {
  display: block;
}
/* Кінець іконки переваги */

.benefits-paragraph {
  display: flex;
  justify-content: center;  
  align-items: flex-start;
 }
.benefits-paragraph__item:not(last-child) {
  margin-right: 30px;
}
.benefits-paragraph__item {
  width: 270px;
}

.benefits-paragraph__title {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-paragraph__list {
  color: var(--paragraph-text-color);
  font-size: 14px;
  line-height: 1.71;
}
