/* Клієнти */;
.clients {
  padding-top: 94px;
  padding-bottom: 0;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 94px;
  }

.clients__item {
  width: 170px;
  height: 92px;
  display: block;
  }
 
  .clients__link {
    width: 100%;
    height: 100%;
    background-color: var(--title-text-color);
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    @extend %flex-setting;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
    }
    &:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
    }
  }
  .clients__icons {
    display: flex;
    width: 106px;
    height: 92px;
  } 
