/* Футер */
.footer-main {
  /* width: 1600px;
  height: 252px; */
  background-color: #2F303A;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}


.footer-logo {
  display: block;
  color: var(--title-text-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 28px;
}
.footer .footer-adress {
  display: block;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 12px;
}
.footer .link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 12px;
}
.footer-item {
  display: block;;
}
.footer-contacts {
  margin-right: 70px;
}
.footer-soc-links {
  padding-top: 12px;
  margin-right: 93px;
  
}
.footer-links {
  display: flex;
 }
.footer-soc-header {
display: block;
margin-bottom: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}
/* иконки соцсетей footer */
.footer-soc-list {
  @extend %flex-setting;
  padding-bottom: 30px;
}
.footer-soc-items {
  width: 44px;
  height: 44px;
  &:not(last-child){
  margin-right: 10px;
  }
  }

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);;
    fill: var(--title-text-color);
    border-radius: 50%;
    @extend %flex-setting;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
    background-color:#2196F3;
    }
    &:focus {
    background-color: #2196F3 ;
    }
  }


  .footer-form {
  padding-top: 12px;
  margin-bottom: 20px;
}
.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
 }
 .footer-button {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 50px;
  padding-left: 28px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  outline: transparent;
 }
 .footer-form-icon {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-text-color);
 }
 .footer-button-group>::placeholder {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  /* padding-left: 16px; */

 }