/* Hero */
.hero {
  display: block;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  }
.back-photo {
  /* height: 600px; */
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #2F303A 40 %; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
   url(../images/header-photo.jpg);
  }

/* Заголовок */
.hero-title {
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* Кнопка */
.button-main {
  display: inline-block;
  color: var(--title-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
}